<!DOCTYPE html>
<html>

<head>
    <title>KanbanPro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav>
        <a href="/">Inicio</a> | <a href="/dashboard">Tablero</a>
    </nav>
    {{{body}}}
</body>

</html>